@media all and (max-width: 1000px) {

    html {
        font-size: 10px;
    }

    /* COMMON */

    #wrapper,
    .fixed-width {
        width: 100% !important;
        min-width: 100%;
        /*overflow: hidden;*/
    }
    /* Column wrapper */
    #columns-wrapper {
        padding: 20px;
    }
    /* Right column */
    #column-right {
        float: none;
        width: 100%;
    }
    .block-blue .block-wrapper {
        padding: 3rem .5rem;
    }
    /* TODO: ads in right column */

    /* Center column */
    .with-right-column #column-center-left-wrapper {
        margin-right: 0;
    }
    /* Column center with left column */
    /* - left column */
    #column-center-left-wrapper #column-left {
        float: none;
        width: 100%;
    }
    /* - column-center-left */
    #column-center-left-wrapper #column-center-left {
        float: none;
    }
    /* - column content */
    #column-center-left-wrapper #column-content {
        float: none;
        width: 100%;
        margin-left: 0;
    }
    /* Banners */
    /* - right banners */
    #column-right [id^="block-banner-right"],
    #column-right [id^="block-teasers"] {
        display: none;
    }

    /* TYPOGRAPHY */

    /* - text */
    #column-content .block-simple .content-content,
    #column-content .block-content .content-content,
    #column-content .block-simple p,
    #column-content .block-simple .item-title,
    #column-content #name_lib.show-controls {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }
    /* -link */
    #column-content .block-simple ul li a {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    /* - title */
    .main-title,
    #column-content .block-simple h1 {
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }
    .block-simple .content-content h3,
    #column-content .block-simple h3,
    #column-content .block-content .content-content h3,
    #column-content .block-simple h2 {
        font-size: 2rem;
    }
    /* - alphabet */
    .block-simple .alphabet {
        font-size: 1.6rem;
    }
    .block-simple .letter {
        float: none;
        font-size: 18px;
        display: inline-block;
        padding: 7px;
    }
    /*  - block */
    #column-right .block-wrapper {
        font-size: 1.7rem;
    }
    /* - breadcrumbs */
    .breadcrumbs {
        font-size: 1.6rem;
    }
    /* names */
    ul.names {
        font-size: 1.7rem;
    }

    /* HEADER */
    /* - panel 1 */
    #header-area #panel-1 #logo,
    #header-area #panel-1 .menu,
    #block-header-search,
    #header-area #panel-1 .menu li {
        float: none !important;
        text-align: center;
    }
    #header-area #panel-1 #logo {
        display: block;
        margin: 6px auto 0 auto;
    }
    #header-area #panel-1 .menu {
        margin: 2px 20px 0 20px;
    }
    #header-area #panel-1 .menu li {
        display: inline-block;
        font-size: 1.3rem;
    }
    #block-header-search {
        margin-top: 3px;
        margin-bottom: 8px;
    }
    #block-header-search #field-lastname-wrapper {
        width: 100%;
    }
    #block-header-search #field-lastname {
        height: 25px;
        font-size: 14px;
    }
    #block-header-search #submit-lastname {
        float: right;
        height: 33px;
        margin: 0 10px;
        background-size: 15px;
    }
    /* - panel 2 */
    #header-area #panel-2 {
        height: 62px;
        background-size: 181px;
    }
    #header-area #panel-2 .wrapper {
        padding-top: 0;
        height: 56px;
        background-position: 100% 94%;
    }
    #header-area #panel-2  #menu-panel-profile {
        float: none;
        text-align: center;
        margin-bottom: 0;
        margin-top: 0;
    }
    #header-area #panel-2  #menu-panel-user {
        margin: -2px 50px 0 20px;
        padding-top: 0;
        text-align: center;
        border-top: 1px solid #b1b1b1;
    }
    #header-area #panel-2 .menu li {
        display: inline-block;
        float: none;
    }
    #header-area #panel-2 #menu-panel-profile li .menu-item.profile-item {
        line-height: 20px;
        padding-top: 2px;
    }
    #header-area #panel-2.panel-2--fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
    }
    #header-area #panel-2 .button {
        line-height: 20px;
        height: 20px;
        margin: 1px 0;
    }
    #header-area #panel-2 .menu-item-more {
        font-weight: bold;
    }

    /* FOOTER */
    #footer-area {
        height: auto;
    }
    #footer-area #block-footer-link {
        display: none;
    }
    #block-footer-copyrights {
        float: none;
        text-align: center;
    }
    #block-footer-menu ul {
        padding: 0 20px;
        text-align: center;
    }
    #menu-footer li {
        float: none;
        display: inline-block;
        margin: 0;
        padding: 5px;
    }

    /* QUICK REGISTRATION */
    .area-wrapper #block-footer-reg-form {
        left: 0 !important;
        width: 100% !important;
        margin-left: 0 !important;
    }
    #block-footer-reg-form .reg-form-reg,
    #block-footer-reg-form .reg-form-reg + div {
        float: left;
        display: inline-block;
        width: 50%;
        padding-bottom: 0px;
    }
    #block-footer-reg-form .reg-form-reg h3 {
        font-size: 16px;
        text-align: center;
    }
    #block-footer-reg-form .reg-form-reg .field-req {
        display: none;
    }
    #block-footer-reg-form .sector-form-footer .field {
        width: 100%;
    }
    #block-footer-reg-form .form-button {
        width: 96%;
        height: 40px;
        line-height: 40px;
        background-size: 100%;
        font-size: 15px;
    }
    #block-footer-reg-form .reg-form-reg + div {
        text-align: center;
    }
    #block-footer-reg-form .reg-form-reg + div h3 {
        margin-bottom: 8px;
    }

}
/* Phablet */
@media all and (max-width: 550px) {
    /* Quick registration */
    #block-footer-reg-form .reg-form-reg,
    #block-footer-reg-form .reg-form-reg + div {
        float: none;
        display: inline-block;
        width: 100%;
    }
    #block-footer-reg-form .form {
        margin-bottom: 2px;
    }
    #block-footer-reg-form .form-button {
        width: 100%;
    }
    #block-footer-reg-form .reg-form-reg + h3 {
        display: none;
    }
    #block-footer-reg-form .reg-form-reg + div h3 {
        margin-bottom: 2px;
        font-size: 15px;
    }
}
/* Small device */
@media all and (max-width: 425px) {

    html {
        font-size: 9px;
    }
    /* Header */
    #header-area #panel-1 .menu li a {
        padding: 5px 6px;
    }
    #header-area #panel-2 #menu-panel-user li .menu-item {
        padding: 0 2px;
        line-height: 19px;
    }
}
/* Extra small device */
@media all and (max-width: 375px) {

}


















