/* Tablet */
@media all and (max-width: 1000px){

    /* COMMON BLOCKS */

    /* HEADER */
    #header-area #panel-2 {
        height: 55px;
        background-size: cover;
    }
    #header-area #panel-2  #menu-panel-user {
        padding-top: 2px;
        margin: 0;
    }
    /*Hide theme widget*/
    #block-theme-change-new {
        display: none;
    }
    /* Under content */
    #under-content-area .area-wrapper {
        margin: 0;
    }
    #under-content-area .post-reply-form {
        max-width: 100%;
    }
    /* Right ads */
    /* invite */
    #column-right #block-invite {
        height: auto;
        background: none;
        border: 2px solid #c0d9ea;
    }
    /* gedcom */
    #column-right #block-gedcom {
        background-position: 100%;
    }
    /* hack with border */
    #column-right #block-gedcom .block-wrapper {
        background-position: 100%;
        width: 84%;
        background: white;
        height: 139px;
        border: 2px solid #cce599;
        border-right: 0;
    }
    #column-right #block-gedcom .block-title,
    #column-right #block-gedcom .block-content {
        position: relative;
        left: 60px;
    }
    /* Forms */
    .form .input:not(.checkbox),
    .form .form-input:not(.checkbox) {
        box-sizing: border-box;
        width: 100% !important;
        height: 30px;
        padding: 5px 5px;
        line-height: 30px;
    }
    .form .form-input.radio {
        width: auto !important;
        height: auto;
    }
    #form-captcha input {
        display: inline-block;
        width: 100px !important;
        height: 45px;
    }
    .form .input.file {
        width: 100% !important;
        height: 40px;
    }
    .form .field {
        font-size: 1.5rem;
    }
    .form-button-small,
    .form-button,
    .tests-list .test-content .button,
    #column-content .result div .button,
    .random-tests + .button,
    .button-width-100,
    .table-base .button-small,
    form[name='faq_search'] #search_str .form-button {
        width: 100%;
        height: 40px;
        margin-left: 0;
        line-height: 40px !important;
        background-size: 2% !important;
        text-align: center;
        box-sizing: border-box;
    }
    .table-base .button-small {
        height: 30px;
        line-height: 30px !important;
        margin-bottom: -1px;
        margin-top: 5px;
    }
    .post-reply-form {
        max-width: 100%;
    }
    .form .field-content .field-values {
        float: none;
    }
    .form .field-content .descr {
        max-width: 400px;
    }
    .form .select {
        width: 100% !important;
    }
    .form .select-day,
    .form .select-month,
    .form .select-year {
        font-size: 15px;
        width: 33% !important;
        margin-right: 1px;
        margin-bottom: 7px;
    }
    .form .select-year {
        margin-right: 0;
    }
    /* Search */
    #block-search-substring #search-substring-text {
        padding: 10px 25px 10px 3px;
    }
    /* Pager */
    .pager ul li.active {
        padding: 5px 8px;
    }
    /* Comments */
    .block-comments.content,
    .block-comments {
        max-width: 100%;
    }
    /* User list */
    #column-content .list-users .user-item-name a {
        font-size: 11px;
        line-height: normal;
    }
    /* Tables */
    table.table-base th {
        font-size: 12px;
    }
    table.table-base tr td p {
        font-size: 16px !important;
        line-height: 21px !important;
    }
    #block-search2-pager {
        height: 43px;
    }
    #block-search2-pager span.js-href {
        float: none;
        font-size: 16px;
    }

    /* USER PAGE */
    /* Header block profile */
    #column-left #block-profile-photo {
        float: left;
    }
    #column-left #block-profile-actions ul {
        margin-bottom: 0;
        text-align: center;
    }
    #column-left #block-profile-actions ul li {
        display: inline-block;
        padding: 6px 10px;
    }
    #column-left #block-profile-actions .arrow {
        width: 0;
    }
    /* - groups */
    #column-left #block-user-groups {
        bottom: 12px;
    }
    #column-left #block-user-groups ul li {
        display: inline-block;
        width: 49%;
        font-size: 14px;
        line-height: 21px;
    }
    /* calendars */
    #list-calendar-months + #calendar-dows li {
        width: 14.1%;
    }
    #list-calendar-months + #calendar-dows + #calendar-month li {
        height: auto;
    }
    #column-left #block-calendar2 {
        float: left;
        width: 49%;
        margin-right: 2%;
    }
    #column-left #block-calendar {
        width: 48%;
    }
    /* User content */
    /* photo */
    #column-content .albums.inblock {
        text-align: center;
    }
    #column-content .albums.inblock li a {
        float: none;
    }
    #column-content .albums.inblock li a .list-albums-photo {
        margin: 0 auto;
    }
    #column-content #block-profile-albums .block-title {
        margin: 1rem 0;
    }
    #column-content #block-profile-albums .marker {
        padding: 5px 10px;
        font-size: 1.7rem;
    }
    /* Svr block (carusel blocks) */
    #column-content #block-svr .field input {
        width: 198px;
        padding: 11px 8px;
    }
    #column-content #block-svr .button-small {
        height: 40px;
        line-height: 40px;
        background-size: 2%;
    }
    #column-content #block-svr .select-day,
    #column-content #block-svr .select-month,
    #column-content #block-svr .select-year {
        font-size: 17px;
        width: 73px;
        margin-right: 9px;
        margin-bottom: 7px;
    }

    /* PHOTOS PAGE */
    /* albums */
    #column-center-left-wrapper .albums,
    #column-center-left-wrapper #album-photos,
    .photos-photo {
        width: 100%;
    }
    /* photo */
    .photos-photo img,
    .photo-comments-block .block-comments {
        max-width: 100%;
    }
    /* photo - comments*/
    .photo-comments-block,
    .photo-info-block {
        width: 100%;
        float: none;
    }

    /* FAMILY PAGE */
    #family-stats li {
        margin: 10px;
    }
    #family-stats:after {
        content: '';
        display: table;
        clear: both;
    }

    /* GROUP PAGE */
    .group-block .group-title {
        font-size: 15px;
    }
    #groups-search-form .search {
        height: 37px;
        line-height: 38px;
        border-radius: 3PX;
    }
    .block-comments.group {
        max-width: 100%;
    }
    .list-users.list-search-substring li a {
        font-size: 1.2rem !important;
    }
    #form-article-add #ta_article_text_tbl {
        width: 100%;
    }

    /* BIO PAGE */
    /* right column */
    #column-right #block-bio .right-menu li {
        display: inline-block;
        width: 49%;
        font-size: 1.5rem;
    }
    #wrapper_bio #ta_bio_tbl {
        width: 100% !important;
    }
    #wrapper_bio + .descr {
        height: auto;
    }

    /* CALENDAR PAGE */
    #column-center-left-wrapper #calendar-month {
        width: 100%;
    }
    #column-center-left-wrapper #calendar-month li.calendar-day {
        width: 14.1%;
        height: 90px;
    }

    /* MEDIA PAGE */
    #column-center-left-wrapper #media-items .media-item {
        float: none;
        width: 49%;
        margin: 10px 0.5% 10px 0.5%;
        text-align: center;
    }
    #column-center-left-wrapper #media-items .media-item .title {
        font-size: 1.6rem;
    }
    #column-center-left-wrapper #media-items .media-item .text p {
        font-size: 1.6rem;
        line-height: 2.3rem;
    }

    /* WEBINAR */
    .webinar-tabs-content iframe {
        width: 100%;
    }
    #column-content #webinar-list {
        font-size: 1.7rem;
    }
    #column-content #webinar-list .webinar-item {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(0,0,0,.07);
    }
    #column-content #webinar-list .webinar-item:last-child {
        padding-bottom: 0;
        border: none;
    }

    /* QUIZ */
    /* list and result */
    #column-content .tests-list li .test-content {
        width: 80%;
    }
    #column-content .result div {
        width: 70%;
    }
    /* single quiz */
    #column-content #form-quiz  {
        max-width: 100%;
    }
    #column-content #form-quiz .field-values .value {
        font-size: 1.6rem;
    }
    .progress-wrapper {
        height: 40px;
        line-height: 30px;
        font-size: 15px;
    }
    /* random quiz */
    #column-content .random-tests li {
        width: 24%;
        margin: 0;
    }
    /*.progress-wrapper .progress {*/
        /*background-size: 6%;*/
    /*}*/
    #column-content .random-tests li a {
        font-size: 1.3rem !important;
        line-height: 1.8rem !important;
    }

    /* DIARY */
    /* form */
    #column-content .message_table #ta_text_tbl {
        width: 100% !important;
    }

    /* GEDCOM */
    input[name="ged_import_file"] {
        width: 100%;
        line-height: 40px;
        padding: 1px 17px;
        box-sizing: border-box;
    }

    /* FAQ */
    /* search */
    form[name='faq_search'] #search_str {
        float: none;
        height: auto;
        font-size: 1.4rem;
    }
    form[name='faq_search'] #search_str #ssinput {
        height: 38px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 0 5px;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    /* cats */
    #column-content .line .cat1 {
        width: 33%;
    }


}
@media all and (max-width: 670px){
    #content-area .menu.tabs,
    #content-area .menu.tabs li {
        float: none;
        margin: 0;
    }
    #content-area .menu.tabs li .menu-item {
        border-radius: 0;
    }
    #menu-tabs li.current .menu-item {
        border-color: #a9d423;
        background-color: #7aba00;
        color: #fff;
    }
}
/* Phablet */
@media all and (max-width: 640px){
    /* COMMON BLOCKS */

    /* Breadcrumbs */
    /* small */
    /* TODO:test */
    #column-center-left #menu-tabs2 li {
        float: none;
        margin: 0;
        background-color: #f6f9fb;
    }
    #column-center-left #menu-tabs2 li a{
        text-decoration: none;
    }

    /* Forms */
    .form .form-input:not(.checkbox) {
        width: 100% !important;
        box-sizing: border-box;
        padding: 3px 5px;
    }

    /* gedcom */
    #column-right #block-gedcom .block-wrapper {
        width: 75%;
    }

    /* USER PAGE */
    /* Header block profile */
    #column-left #block-profile-photo {
        float: none;
        margin: 0 auto;
    }
    /* groups */
    #column-left #block-user-groups ul li {
        display: block;
    }
    /* calendars */
    #column-left #block-calendar2 {
        float: none;
        width: 100%;
        margin-right: 0;
    }
    #column-left #block-calendar {
        width: 100%;
    }
    /* Friends search */
    #column-content #block-svr .field {
        width: 100%;
    }
    #column-content #block-svr .field input {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 7px;
    }
    /* Tables */
    /* TODO: CLASS FOR ALL TABLES */
    table.table-base tr:nth-child(-n+2){
        display: none;
    }
    table.table-base td,
    table.table-base tr {
        display: block;
        box-sizing: border-box;
        font-size: 14px;
    }
    table.table-base tr.odd {
        background-color: rgba(0, 0, 0, 0.01);
    }
    table.table-base tr.odd td:last-child {
        padding-top: 0;
    }
    /* Add content */
    table.table-base tr.odd td:nth-child(3):before {
        content: 'Дата рождения: ';
        font-weight: bold;
    }
    table.table-base tr.odd td:last-child[rowspan='2']:before {
        content: 'Дата подачи заявки: ';
        font-weight: bold;
    }

    table.table-base tr td {
        border: none;
    }
    table.table-base tr .search_name {
        border-bottom: 1px solid #ddd;
    }
    table.table-base tr .search_name + td {
        padding-bottom: 0;
        line-height: 21px;
    }
    table.table-base tr .search_name + td + td {
        padding-top: 0;
        line-height: 21px;
    }

    /* PHOTOS PAGE */
    /* albums */
    #column-center-left-wrapper .albums .list-album,
    #column-center-left-wrapper #album-photos .list-photo {
        width: 50%;
    }

    /* GROUP PAGE */
    .group-buttons {
        float: left;
    }
    .group-buttons:after, .group-title {
        content: '';
        display: table;
        clear: both;
    }
    #column-center-left-wrapper .articles-list a {
        float: none;
    }
    #column-center-left-wrapper .article .fs-img {
        float: none;
        margin: 0;
    }
    #column-center-left-wrapper .article .fs-img img {
        width: 100%;
        box-sizing: border-box;
    }

    /* BIO PAGE */
    /* right column */
    #column-right #block-bio .right-menu li {
        width: 100%;
    }

    /* CALENDAR PAGE */
    #column-center-left-wrapper #calendar-month li.calendar-day {
        width: 14%;
        height: 65px;
    }

    /* MEDIA PAGE */
    #column-center-left-wrapper #media-items .media-item {
        width: 100%;
    }

    /* QUIZ */
    #column-content .result {
        text-align: center;
    }
    #column-content .tests-list li .test-content,
    #column-content .tests-list li .test-img,
    #column-content .result div,
    #column-content .result img {
        float: none;
    }
    #column-content .tests-list li .test-content,
    #column-content .result div {
        width: 100%;
        text-align: center;
    }
    #column-content .tests-list li .test-img,
    #column-content .result img {
        margin: 0 auto;
    }
    #column-content .tests-list li .test-img,
    #column-content .tests-list li .test-img a img,
    #column-content .result img {
        width: 250px;
    }
    #column-content .tests-list li .test-img img.label-new {
        top: 11px;
    }
    /* random quiz */
    #column-content .random-tests li {
        width: 33%;
    }

    /* SETUP */
    /* TODO: add spec class */
    #column-center-left-wrapper .columns-2 .column {
        float: none;
        width: 100%;
    }

    /* FAQ */
    /* cats */
    #column-content .line .cat1 {
        width: 50%;
    }

}
/* Small device */
@media all and (max-width: 425px){
    /* COMMON BLOCKS */
    /* Forms */
    .field-req .field-title {
        float: none;
        width: 100%;
        margin-bottom: 5px;
    }
    .form .field-content {
        padding-left: 0;
    }
    .form .field-content .field-values {
        float: none;
    }
    .form-button {
        width: 100%;
    }
    .form .field-title {
        width: auto;
    }

    /* USER PAGE */
    /* photo */
    #column-content .albums.inblock li {
        width: 50%;
    }
    /* PHOTOS PAGE */
    /* albums */
    #column-center-left-wrapper .albums .list-album,
    #column-center-left-wrapper #album-photos .list-photo {
        width: 100%;
        padding-left: 22%;
    }

    /* CALENDAR PAGE */
    #column-center-left-wrapper #calendar-month li.calendar-day {
        width: 13.8%;
        height: 52px;
    }
    /* random quiz */
    #column-content .random-tests li {
        width: 50%;
    }

    /* FAQ */
    /* cats */
    #column-content .line .cat1 {
        width: 100%;
    }
}
/* Extra small */
@media all and (max-width: 375px){
    /* random quiz */
    #column-content .random-tests li {
        width: 100%;
    }
}
